[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=LiquidSky using Wine (unofficial)
Exec=unofficial-liquidsky-wine
Icon=${SNAP}/meta/gui/liquidsky-wine-unofficial.png
Categories=Game;
Terminal=false
StartupNotify=true
StartupWMClass=Liquidsky.exe
Keywords=game
